#sidebar {
    width: 550px;
    height: 800px;
    border: 2px #808080 solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 35px;
}

#search_bar{
    width: auto;
    height: 50px;
    background: #fffe90;
    border: 1px black solid;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 41px;
    font-family: Calibri;
    color: #d0cf75;
    margin-bottom: 30px;
}

#search_bar::placeholder{
    font-size: 41px;
    font-family: Calibri;
    color: #d0cf75;
}

.arrow_slide{
    width: 21px;
    height: 21px;
}

.arrow_slide:focus{
    outline: none;
    border: none;
}

.arrow{
    width: 21px;
    height: 21px;
}

.arrow:focus{
    outline: none;
    border: none;
}

.cat_div{
    flex-direction: row;
    font-size: 36px;
}

.pcat_div{
    flex-direction: row;
    margin-left: 30px;
    font-size: 36px;
}

.category{
    text-decoration: none;
}

.category:visited{
    color: black;
    text-decoration: none;
}